<form >
  <input type="text"
  class='input-field'
  placeholder="Whats happening"
  oninput={{action this.handleChange value="target.value"}}
  value={{this.text}}
  />
  <button
  {{action this.handleSubmit}}
  on="submit"
  >
    Tweet
  </button>
</form>
